@import "../colors.scss";
@import "../mixins.scss";

// Style components for the index page.

$content-width: 350px;

@mixin form-element {
  color: white;
  background-color: $input-background-color;

  border: 1px solid $input-border-color;
  outline: 0;

  padding-left: 10px;
  padding-right: 10px;
}

.urlFormInput {
  @include form-element;

  margin-bottom: 10px;
  width: $content-width;
  height: 50px;
  border-radius: 15px;

  transition: all ease-in-out 0.3s;
}

.urlFormInput:focus {
  margin: 5px;

  // 10 pixel difference
  width: calc($content-width - 10px);
  height: 40px;
}

.urlFormInputOuter {
  @include rainbow-text;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  border-radius: 15px;
  width: $content-width;
  height: 50px;
  margin-bottom: 18px;
}

.dropdownHeader {
  margin-top: -2px;
  margin-bottom: 4px;
}

.dropdown {
  @include form-element;

  width: calc(($content-width / 2) - 5px);
  height: 35px;
  border-radius: 6px;
}

.info {
  margin-top: 2px;
  background-color: transparent;
  color: $unhovered-info-text;

  transition: color 0.5s ease-in-out;
}

.info:hover {
  color: $hovered-info-text;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}
