@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import "colors.scss";
@import "mixins.scss";
@import "links.globals.scss";
@import "lgbt.globals.scss";
@import "sticky.globals.scss";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

  color: $text-color;
  background-color: $background-color;

  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.flex {
  @include flex-display;
}

.content {
  @include fixed-center;
  
  max-width: 350px;
}

.lighter-text {
  font-weight: lighter;
}

.sub-text {
  margin-top: -20px;
}
