@import "colors.scss";

// Mixin for stickying elements. Does not hoist to the top or bottom.
@mixin stickied-element {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
}

// Mixin for making an element "flex"able. Aligns items to the center and justifies content to the center.
@mixin flex-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Mixin for forcefully centering content.
@mixin fixed-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Mixin for providing rainbow text using background clipping.
@mixin rainbow-text {
  background: $rainbow-gradient;
  -webkit-background-clip: text;
  background-color: text;
  animation: rainbow 6s ease-in-out infinite;
  background-size: 400% 100%;

  // Color is set to "transparent", but overriding this is not uncommon.
  color: transparent;
}

// Generic animation for traversing a background horizonally.
@keyframes rainbow {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
